.navigation{
    height: 40px;
    background-color: black;
    padding: 10px 0;
}
.navigation ul{
    margin-left: 180px;
}
.navigation li{
    display: block;
    float: left;
    margin-top: 10px;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 80px;
    line-height: 20px;
}

.ShowImg{
    width: 1600px;
    margin: 100px auto;
    text-align: center;
}
.ShowImg img{
    width: 422px;
    height: 480px;
    margin: 30px;
}