.navigation{
    height: 40px;
    background-color: black;
    padding: 10px 0;
}
.navigation ul{
    margin-left: 180px;
}
.navigation li{
    display: block;
    float: left;
    margin-top: 10px;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 80px;
    line-height: 20px;
}
.userInformation{
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin: 10% 0 0 40%;
    width: 300px;
    position: absolute;
    height: 300px;
    z-index: 10;
}
.userInformation table{
    margin-left: 10px;
}
.userInformation table tr{
    display: block;
    margin-bottom: 14px;
    font-size: 20px;
}
.layui-btn-danger{
    margin: 10px 10px 0 20px;
}
.userdetails-bg{
    position: relative;
    z-index: 1;
}