<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/categorylist.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/layui.css">
    <meta http-equiv="expires" content="0">
    <style type="text/css">
        .categorylist-box{
            background-color: white;
            width: 1200px;
            position: absolute;
            z-index: 10;
            margin: 5% 0 0 19%;
            font-size: 24px;
            padding: 40px 0;
            border-radius:20px;
            border: 1px solid lightgrey;
        }
        .categorylist-all{
            margin-left:10%;
        }
    </style>
</head>
<body>
<div  class="navigation">
    <ul>
        <li>
            <a href="/user/toindex">主页</a>
        </li>
        <!--用户登录-->
        <li>
            <a href="/user/tologin" id="islogin">登录</a>
        </li>
        <!--用户注册-->
        <li>
            <a href="/user/toregist">注册</a>
        </li>
        <!--购物车-->
        <li>
            <a href="/user/tologin" id="orderlist">购物车</a>
        </li>
        <!--商品分类-->
        <li>
            <a href="/category/tocategorylist">商品更多分类</a>
        </li>
    </ul>
</div>

<div class="categorylist-box">
    <div class="categorylist-all" id="category">

    </div>
</div>

<img class="categorylist-bgimg" src="/pic/categorylist-bgimg.jpg">
<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise w1200">
            <p class="text">
                <a class="icon1" >7天无理由退换货</a>
                <a class="icon2" >满99元全场免邮</a>
                <a class="icon3" style="margin-right: 0" >100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help w1200">
        <p class="coty">服装商城版权所有 &copy; 2012-2020</p>
    </div>
</div>
<script src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript">
    $(function(){
        var category = document.getElementById("category");
        $.ajax({
            url: '/category/getcategorylist',
            contentType:"application/json;charset=utf-8",
            type: 'post',
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    var cate = data[i];
                    html += "<div style='float: left;margin: 0 60px;' class='category-list'>"+"<img width='200px' height='200px' src='"+ cate.categoryimage+"'>"+"<br>"+"<a style='display: block;text-align: center' href='/goods/togoodslistbycategory?id="+cate.categoryid+"'>"+cate.categoryname +"</a>"+"</div>";
                }
                $('#category').append(html);
                console.log(html);
            }
        })
    })

    $(document).ready(function(){
        if(sessionStorage.getItem("user")!=null){
            var username=sessionStorage.getItem("username");
            $("#islogin").text(sessionStorage.getItem("username"));
            $("#islogin").attr("href","/user/togetuserdetails?username="+username);
            $("#orderlist").attr("href","/cart/tocartlist");
        }
    })
</script>
</body>
</html>