<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/successaddcart.css">
    <link  type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/layui.css">
    <script type="text/javascript" src="/js/layui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>
<div class="successaddcart-box">
    <img class="success-icon" src="/pic/success-icon.png">
    <p class="success">添加购物成功！</p><br>
    <a class="tocart" href="/cart/tocartlist">前往购物车</a>
    <a class="continue" href="/category/tocategorylist">继续挑选商品</a><br>
</div>
</body>
</html>